/* linked in index.html */

@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@600&family=Roboto&display=swap");

body {
  background-color: #333333;
  color: white;
  font-family: "Lato", sans-serif;
}

.ueberschrift {
  text-align: center;
}

.cardContainer {
  flex: 1;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  display: flex;
}

.cardContainerWrapper {
  display: flex;
}

.card {
 width: 200px;
 height: 200px;
 border-radius: 20px;

}

.test {
  background-image: url('/images/money.jpg');
  background-size: cover; 
  background-position: center;
  background-size: cover;
  background-position: center; 
}



